.form-signin .form-control{
    font-family: 'Poppins', 'Hanuman';
}
.logo{
    max-width: 200px;
}
.table thead th{
    font-family: 'Poppins', 'Hanuman' !important;
}
select.form-control {
    width: 205px;
}