

/*#mySidepanel{*/
/*    height: auto;*/
/*}*/
/*.tm-content{*/
/*    height: 55vh;*/
/*}*/
.product-info .recommend-text p {
    color: #000;
    font-size: 18px;
    font-family: 'Poppins', 'Hanuman';
}

.product-info .divider-line {
    background-color: #e6e6e6;
}

.ourworks-box {
    width: 20%;
    justify-content: center;
    text-align: center;
}

.our-works-head {
    font-size: 30px;
    font-weight: 400;
    color: black;
}

.recommend-slider .pro-image {
    padding: 10px;
    height: unset;
}

.recommend-slider .carousel-item {
    transition: transform 0.6s ease-in-out;
}

.recommend-slider .pro-image img {
    height: 172px;
    width: 100%;
    object-fit: contain;
}

.recommend-slider .introduce .pro-des p {
    min-height: 24px;
    max-height: 62px;
    font-size: 16px;
    color: black !important;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.recommend-slider .introduce .pro-price p {
    font-size: 20px;
    color: #ff3737 !important;
    font-family: 'Montserrat';
    font-weight: 600;
}

.recommend-slider .introduce .pro-price .origin-price {
    font-size: 14px;
    color: grey !important;
    font-weight: 600;
    padding-left: 8px;
    font-family: 'Montserrat';
    text-decoration: line-through;
}

.recommend-slider .carousel-control-prev {
    color: #109cda;
    font-size: 16px;
    opacity: 1;
    left: -8%;
}

.recommend-slider .carousel-control-next {
    color: #109cda;
    font-size: 16px;
    opacity: 1;
    right: -8%;
}

.recommend-slider .pro-image {
    object-fit: cover;
}

.introduce {
    height: 294px;
    background-color: white;
    color: black;
    margin-top: 14px;
    margin-bottom: 14px;
    border: 1px solid #ebebeb;
    transition: all 0.5s;
}

.introduce:hover {
    color: black;
    text-decoration: none;
    box-shadow: 1px 1px 10px #cccccc;
}

.flex-column-1 {
    height: 70%;
    width: 100%;
}

.flex-column-2 {
    height: 30%;
    width: 100%;
    align-items: center;
}

.text-gray {
    color: gray;
}

.pic {
    height: 70px;
    width: 70px;
    margin-left: 20px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.introduce:hover .pic {
    transform: scale(1.1);
}

.carousel-indicators .active {
    background-color: #46eeaa;
}

.carousel-indicators li {
    background-color: #c8e5ff;
}

.carousel-indicators {
    bottom: -50px;
}


/* ********- Section Style- *********** */

.transform-bg-style {
    border-color: #0995da;
    border-bottom: 3px solid #0995da;
    margin-top: 30px;
}

.transform-bg-style li .title {
    float: left;
}

.transform-bg-style>li.title a {
    background: #0995da;
}

.transform-bg-style li.title>a {
    font-size: 18px;
    background: #0995da;
    font-weight: 600;
    color: #fff;
    border-radius: 0;
    display: inline-block;
    height: 38px;
    border: 0;
    position: relative;
    padding: 10px 14px;
}

.transform-bg-style li.title i {
    font-weight: 900;
}

.transform-bg-style li.title a .corner {
    border-color: transparent transparent transparent #0995da;
}

.transform-bg-style li.title>a .corner {
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 0 20px;
    border-color: transparent transparent transparent #0995da;
}

.transform-bg-style .title .see-more-video a {
    background-color: unset !important;
    font-size: 15px;
    color: #0995da;
}

.transform-bg-style .title .see-more-video {
    font-size: 16px;
    color: #0995da;
    margin-bottom: auto;
    margin-top: auto;
}

.image-detail-section .product-detail-image img {
    width: 100%;
    object-fit: cover;
}

.iframe-container iframe {
    width: 100%;
    height: 500px;
}


/* **********Product gallery********* */

.shop.single .product-gallery {
    margin-top: 14px;
    display: flex;
}

.shop.single .product-gallery .pro-gallery-up {
    color: #0995da;
    font-size: 20px;
}

.shop.single .product-gallery .pro-gallery-down {
    color: #0995da;
    font-size: 20px;
}

.shop.single .product-gallery .small-image-slide {
    border: 1px solid #ebebeb;
    padding: 4px;
}

.shop.single .product-gallery . {
    border: 1px solid #ebebeb;
    border-width: thin;
    padding: 16px;
}

.shop.single .product-gallery . img {
    object-fit: contain;
    height: 580px;
    width: 100%;
    max-height: 600px;
}

.active_item {
    border: 1.5px solid #feb00f !important;
}
.breadcrumbs .ti-home{
    font-size: 13px !important;
    margin: 0px 6px !important;
}
.product-gallery .hide{
    display: none;
}
.m-pt-4{
    padding-top: 1.8rem !important;
}

@media (min-width:320px)  {
    .shop.single .product-gallery . img {
        object-fit: contain;
        height: 310px;
        width: 100%;
        max-height: 320px;
    }
}
@media (min-width:481px)  {
    .shop.single .product-gallery . img {
        object-fit: contain;
        height: 370px;
        width: 100%;
        max-height: 400px;
    }
}
@media (min-width:641px)  {
    .shop.single .product-gallery . img {
        object-fit: contain;
        height: 670px;
        width: 100%;
        max-height: 700px;
    }
}
@media (min-width:961px)  {
    .shop.single .product-gallery . img {
        object-fit: contain;
        height: 670px;
        width: 100%;
        max-height: 700px;
    }
}
@media (min-width:1025px) {
    .shop.single .product-gallery . img {
        object-fit: contain;
        height: 570px;
        width: 100%;
        max-height:600px;
    }
}
@media (min-width:1281px) {
    .shop.single .product-gallery . img {
        object-fit: contain;
        height: 570px;
        width: 100%;
        max-height:600px;
    }
}

/*Backend Style*/
.choose-cate{
    height: 40px;
    width: 180px;
}
.choose-brand{
    height: 40px;
    width: 180px;
}
.search-product{
    height: 40px;
    width: 180px;
}
.btn-search-pro{
    height: 38px;
    padding: 0 18px;
    margin-left: 14px;
}

/*Banner Slider Style*/

/*.slider, .slider ul.carousel, .slider ul.carousel li {*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/

/* pagnation  <- -> */
.slider ul.sliderpagnation li a {
    color: #ccc;
}
.slider ul.sliderpagnation{
    text-align: center;
}
.slider ul.sliderpagnation li.selected a {
    color: #937AFF;
}

.slider ul.sliderpagnation li {
    padding: 0 3px;
    height: 28px;
    line-height: 28px;
    display: initial;
}
.slider .banner-indicator{
    width: 12px;
    border-radius: 18px;
    height: 12px;
    margin-left: 6px;
    bottom: 0;
}

.primary {
    color: #000;
}
.carousel-image-item img{
}
.slider .carousel-indicators{
    bottom: 0;
}




